h1 {
    text-align: center;
    text-transform: uppercase;
}

button {
    padding: 0.2em;
    margin: 0.1em;
}

.controls {
    display: flex;
    justify-content: space-around;
    margin: 1em;
}

.row {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.size-std {
    height: 250px;
    width: 250px;
}

.size-lg {
    height: 512px;
    width: 512px;
}

.size-sm {
    height: 100px;
    width: 100px;
}
