<h1>Keel Monitor</h1>

<button (click)="applyTheme('bright')">Bright</button>
<button (click)="applyTheme('day')">Day</button>
<button (click)="applyTheme('dusk')">Dusk</button>
<button (click)="applyTheme('night')">Night</button>



<button (click)="startSimulation()">Start Simulation</button>
<button (click)="stopSimulation()">Stop Simulation</button>

<section class="thrusters">
  <!-- <ob-azimuth-large class="az-lg" [angle]="azimuthThruser.angle" [showPortStarboard]="azimuthThruser.showPortStarboard"
    [showSetPointAngle]="azimuthThruser.showSetPointAngle" [showSetPointValue]="azimuthThruser.showSetPointValue"
    target="50" [targetAngle]="azimuthThruser.targetAngle" thrusterWidth="REGULAR" [value]="azimuthThruser.value">
  </ob-azimuth-large> -->

  <ob-azimuth-medium class="size-std" [angle]="azimuthThruser.angle"
    [showPortStarboard]="azimuthThruser.showPortStarboard" [showSetPointAngle]="azimuthThruser.showSetPointAngle"
    [showSetPointValue]="azimuthThruser.showSetPointValue" target="50" [targetAngle]="azimuthThruser.targetAngle"
    thrusterWidth="REGULAR" [value]="azimuthThruser.value">
  </ob-azimuth-medium>

  <ob-azimuth-small class="az-sm" [angle]="azimuthThruser.angle" [value]="azimuthThruser.value">
  </ob-azimuth-small>

  <ob-speedometer-medium class="size-std" [value]="speedoMeter.value"></ob-speedometer-medium>

  <ob-rudder-medium class="size-std" [rudderAngle]="rudder.rudderAngle" class="mini" [rudderSetPointAngle]="rudder.rudderSetPointAngle" clipAngle="60" showPortStarboard="false"
  showSetPoint="true"></ob-rudder-medium>

  <!-- <ob-rudder-medium class="size-std">
    [rudderAngle]="40"
    [rudderSetPointAngle]="rudder.rudderSetPointAngle"
    [clipAngle]="90"
  </ob-rudder-medium> -->


</section>


<!-- <ob-bar-horizontal-medium class="mini" range="100" value="50"></ob-bar-horizontal-medium> -->
