.thrusters {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.size-std {
    height: 250px;
    width: 250px;
}

.size-lg {
    height: 512px;
    width: 512px;
}

.size-sm {
    height: 100px;
    width: 100px;
}
